.maringZero {
  margin: 0 !important;
}

.fontWeihtNormal {
  font-weight: normal !important;
}

.lineThrow {
  text-decoration: line-through !important;
}

@media (max-width: 576px) {
  .incressDecressButton {
    width: 100%;
    justify-content: center;
  }
}
