.cardContainer {
  border-radius: 8px;
}

.cardContainer :global(.ant-card-body) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageContainer {
  width: 26px;
  height: 26px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  padding: 20px 0;
}

.avtarAndUsername {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username {
  margin: 0 !important;
}
