.toolbar {
  gap: 14px;
}

.sortBy {
  border-radius: 4px;
  width: min(200px, 100%);
  padding: 8px 20px;
  border: 1px solid #71717b;
  outline: none;
  background: #fff;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
}

.gridItem {
  grid-column: span 1;
  grid-row: span 1;
}

.featuredItem {
  grid-column: span 2;
  grid-row: span 2;
}

@media (max-width: 576px) {
  .toolbar {
    align-items: flex-start !important;
    flex-direction: column;
  }
}
